$_crayola: #F9A826;
$_light-coral: #EA8282;
$_iguana-green: #60BF88;
$_medium-aquamarine: #6FCF97;
$_white: #FFFFFF;
$_indigo: #1D355D;
$_metallic-blue: #2F527B;
$_slate-blue: #6066D0;
$_anti-flash-white: #F2F2F2;

$border-light-color: $_slate-blue;
$border-dark-color: $_indigo;

$background-light-color: $_white;
$background-wrong-color: $_light-coral;
$background-success-color: $_iguana-green;

$text-light-color: $_anti-flash-white;
$text-title-color: $_indigo;
$text-option-color: $_slate-blue;
